target/
**/target/

logs/
*.log
*.log.*

.env
.env.*
!.env.example
apiconfig.json
**/application-base_local.yml
config/deploy.properties
runtime/

.idea/
.vscode/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.factorypath
.apt_generated/
.sts4-cache/

.DS_Store
Thumbs.db
